extends /templates/layouts/game.pug

block header
  section.bg-purple.white.pv3
    .container
      article.tl
        a.white.underline.link(href="/game") Game
        span   /  
        span #{ post.data.title }

block sidebar
  .pv3(style="min-width: 30ex;")
    ul.list.lh-copy
      for route in routes.game
        li
          a(href=route.slug) #{ route.title }

block content
  section.blog-post
    .container
      article
        header
          h2 #{ post.data.title }

        content
          | !{ post.content }

        footer.mt4.pt2.pb4

          ul.tags
            for tag in post.data.tags
              li
                a(href="#") #{ tag }
