#mc_embed_signup.w-100
  form#mc-embedded-subscribe-form.validate.mw6(
    action='https://diagonal.us20.list-manage.com/subscribe/post?u=32aa35026c65440ab80f4fe4c&amp;id=cb205b7361'
    method='post'
    name='mc-embedded-subscribe-form'
    target='_blank'
    novalidate='')
    #mc_embed_signup_scroll.flex.flex-auto.flex-wrap.justify-center.w-100
      .mc-field-group.min-w5.flex.flex-auto.mh1
        input#mce-EMAIL.input-reset.br0.flex.flex-auto.required.fw3.email.pa2.bw05.b--moon-gray.ba.bg-white.mv2(
          type='email'
          value=''
          placeholder="Enter your email"
          name='EMAIL')
      #mce-responses.clear
        #mce-error-response.response(style='display:none')
        #mce-success-response.response(style='display:none')
      div(style='position: absolute; left: -5000px;', aria-hidden='true')
        input(type='text', name='b_32aa35026c65440ab80f4fe4c_cb205b7361', tabindex='-1', value='')
      .clear.flex.flex-auto.mh1
        input.flex.flex-auto.items-center.justify-center.hover-bg-dark-purple.b--none.button.is-primary#mc-embedded-subscribe.button(
          type='submit'
          value='Subscribe to the newsletter'
          name='subscribe')